.header {
  &-top {
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
  }

  &-bottom {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 41px 0 32px;
  }
}

.contacts {
  text-align: right;
}

.contact {
  color: #424242;
  display: inline-block;
  padding: 12px 10px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: lighten(#424242, 20%);
  }

  &:first-child {
    border-right: 1px solid #e2e2e2;
    margin-right: 8px;
    padding-right: 19px;
  }

  &-icon {
    &-phone {
      font-size: 1.5rem;
      margin-right: 11px;
      vertical-align: -2px;
    }

    &-email {
      font-size: 1.2rem;
      margin-right: 8px;
      vertical-align: -0.5px;
    }
  }
}

.facebook-icon {
  background-color: #1287bf;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-left: 2px;
  padding: 4px 9px 3px 9px;
  vertical-align: 1px;
}
