.nav {
  display: inline-block;
  margin-left: 167px;
  vertical-align: top;

  @media (max-width: 1030px) {
    margin-left: 0;
  }

  @media (max-width: 1000px) {
    margin-bottom: 25px;
  }

  &-link {
    color: #424242;
    display: inline-block;
    font-family: $ff-main-bold;
    font-size: .9rem;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s;
    vertical-align: top;

    &:hover,
    &:active {
      color: #de2b24;
    }

    &::after {
      background: #424242;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 5px;
      margin-left: 15px;
      vertical-align: middle;
      width: 5px;
    }

    @media (max-width: 530px) {
      display: block;

      &::after {
        display: none;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
