html {
  box-sizing: border-box;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
}

ul,
ol {
  list-style-type: none;
}

.clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
