@font-face {
  font-family: "georgia-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/georgia-bold.woff") format("woff"),
    url("../fonts/georgia-bold.woff2") format("woff2");
}

@font-face {
  font-family: "helvetica-neue-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/helvetica-neue-bold.woff") format("woff"),
    url("../fonts/helvetica-neue-bold.woff2") format("woff2");
}

@font-face {
  font-family: "helvetica-neue-light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/helvetica-neue-light.woff") format("woff"),
    url("../fonts/helvetica-neue-light.woff2") format("woff2");
}

@font-face {
  font-family: "helvetica-neue-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/helvetica-neue-regular.woff") format("woff"),
    url("../fonts/helvetica-neue-regular.woff2") format("woff2");
}
