section.about
	.container
		.title.title-with-bottom-line
			h2.title.title-header About us
			.title-text We are added our major Services

		ul.about-list
			li.about-item
				.icon.icon-like
				h3.about-header Facebook Marketing
				p.about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget risus hendrerit, tincidunt dui eget, ullamcorper lectus.

			li.about-item
				.icon.icon-book
				h3.about-header Langing pages creation
				p.about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget risus hendrerit, tincidunt dui eget, ullamcorper lectus.

			li.about-item
				.icon.icon-message
				h3.about-header Ads management
				p.about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget risus hendrerit, tincidunt dui eget, ullamcorper lectus.
