section.approach
	.container
		.title.title-with-bottom-line
			h2.title.title-header Our approach
			.title-text Check Our approaches step by step ( how we do it )

		ul.approach-list
			li.approach-item
				.approach-image
					img.approach-picture(src="../images/step-1.jpg" alt="picture")
					.approach-step step
				.approach-text
					.approach-title Step 1 : Heading Here
					p.approach-description.
						Distinctio animi maiores assumenda blanditiis. Qui distinctio sint
						accusantium sunt quae et officiis sit impedit. Sed odio at. Nisi
						praesentium blanditiis dolores debitis quaerat dolorem incidunt
						eaque quam.

			li.approach-item
				.approach-image
					img.approach-picture(src="../images/step-2.jpg" alt="picture")
					.approach-step step
				.approach-text
					.approach-title Step 2 : Heading Here
					p.approach-description.
						Distinctio animi maiores assumenda blanditiis. Qui distinctio sint
						accusantium sunt quae et officiis sit impedit. Sed odio at. Nisi
						praesentium blanditiis dolores debitis quaerat dolorem incidunt
						eaque quam.

			li.approach-item
				.approach-image
					img.approach-picture(src="../images/step-3.jpg" alt="picture")
					.approach-step step
				.approach-text
					.approach-title Step 3 : Heading Here
					p.approach-description.
						Distinctio animi maiores assumenda blanditiis. Qui distinctio sint
						accusantium sunt quae et officiis sit impedit. Sed odio at. Nisi
						praesentium blanditiis dolores debitis quaerat dolorem incidunt
						eaque quam.

			li.approach-item
				.approach-image
					img.approach-picture(src="../images/step-4.jpg" alt="picture")
					.approach-step step
				.approach-text
					.approach-title Step 4 : Heading Here
					p.approach-description.
						Distinctio animi maiores assumenda blanditiis. Qui distinctio sint
						accusantium sunt quae et officiis sit impedit. Sed odio at. Nisi
						praesentium blanditiis dolores debitis quaerat dolorem incidunt
						eaque quam.
