a.contact(href="tel:+39999999999999")
	i.fa.fa-mobile.contact-icon.contact-icon-phone(aria-hidden="true")
	span.contact-text 6337 3128
a.contact(href="mailto:info@business.co")
	i.fa.fa-envelope.contact-icon.contact-icon-email(aria-hidden="true")
	span.contact-text info@business.co
a.facebook-icon(href="https://facebook.com")
	i.fa.fa-facebook(aria-hidden="true")
