section.form-section
	.container
		.title
			h2.title-header Get Your Free Facebook Analysis Now
			.title-text Enter your details below

		.btn-down: a.arrow-down(href="form.html"): i.fa.fa-angle-down

		.form-container.is-hidden
			form(method="post" action="#").form
				button(type="button").form-close-button: span.form-close-button-text x
				.form-text.
					Sit down with out experts to receive a free customized marketing plan
					for your business + Learn How To Use Google and Facebook to get 5000% ROI or more

				.form-fields
					input.form-input(type="text" placeholder="Your Name" data-valid="required")
					input.form-input(type="email" placeholder="Email" data-valid="required" data-email)
					input.form-input(type="text" placeholder="Contact Number" data-valid="required" data-number)

				button(type="submit").button.button-text-uppercase.button-red Submit now
