nav.nav
	- var items = ['Home', 'About us', 'Our approach', 'Our work']
	- var dataItems = ['header', 'about', 'approach', 'work']
	each item, i in items
		if item === 'Home'
			a.nav-link.nav-link-active(href="#" data-link=dataItems[i])= item
		else
			a.nav-link(href="#" data-link=dataItems[i])= item
