section.work
	.container
		.title.title-with-bottom-line
			h2.title.title-header Our work
			.title-text We added our featured works below

		ul.work-list
			li.work-item.work-item-name
				.work-name Project Name
				.work-description Facebook marketing

			li.work-item: img.work-picture(src="images/work-1.jpg" alt="picture")

			li.work-item.work-item-name
				.work-name Project Name
				.work-description Landing page

			li.work-item: img.work-picture(src="images/work-2.jpg" alt="picture")

			li.work-item: img.work-picture(src="images/work-3.jpg" alt="picture")

			li.work-item.work-item-name
				.work-name Project Name
				.work-description Landing page

			li.work-item: img.work-picture(src="images/work-4.jpg" alt="picture")
			
			li.work-item.work-item-name
				.work-name Project Name
				.work-description Facebook marketing
